<!doctype html>
<html>
<head>
    <title>FLCos</title>

    {{{_sections.head}}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="/vendor/bootstrap/css/bootstrap.css" media="all" />
    <link href="/vendor/jquery-ui-1.12.0.custom/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" media="all" />
    <link rel="stylesheet" href="/stylesheets/formStyle.css" media="all" />


</head>
<body>
{{{body}}}
<script src="/vendor/less.min.js"></script>
<script src="/vendor/jquery/jquery-1.9.1.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"> </script>
<script src="/vendor/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
{{{_sections.jquery}}}
</body>
</html>