<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--Menu-->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#">Warehouse</a>
                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li class="active"><a href="#">WarehouseManagement</a></li>
                        <li><a href="#">LotManagement</a></li>
                        <li><a href="#">Dispensary1</a></li>
                        <li><a href="#">Dispensary2</a></li>
                    </ul>
                </li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <!--showing message-->
        </div>
        <div class="col-lg-4">
            <!--tools buttons-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!--navigation buttons-->
        </div>
        <div class="col-lg-9">
            <!--visualization-->
        </div>
    </div>
</div>
